* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  letter-spacing: 0.8px;
}

/* Dark Mode */
.dark-mode {
  --bg-color: #1e232d;
  --light-bg-color: #293649;
  --primary-color: #ff003c;
  --secondary-color: #ffccd8;
  --text-color: #fdfefe;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

/* Light Mode */
.light-mode {
  /* --bg-color: #fff;
  --light-bg-color: #f1f5f8;
  --primary-color: #fe2d55;
  --secondary-color: #1e232d;
  --text-color: #293649; */
  /* Version 2 */
  --bg-color: #ffffff;
  --light-bg-color: #f4f6fc;
  --primary-color: #fe2d55;
  --secondary-color: #1e232d;
  --text-color: #293649;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
}

/* Global css */
/* height/Width */
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.width-xs {
  width: 40px;
}
.width-sm {
  width: 75px;
}
.width-md {
  width: 300px;
}
.width-lg {
  width: 800px;
}

.height-xs {
  height: 40px;
}
.height-sm {
  height: 75px;
}
.height-md {
  height: 500px;
}
.height-lg {
  height: 800px;
}
.height-lg-pc {
  height: 80%;
}
/* End of Height/Width */

/* flex */
.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.flex-end {
  justify-content: flex-end;
}

.grow {
  flex-grow: 1;
  flex: 1;
}

.flex-start {
  align-items: start;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.gap-sm {
  gap: 5px;
}

.gap-md {
  gap: 10px;
}

.gap-lg {
  gap: 20px;
}
.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.align-self-center {
  align-self: center;
}
/* flex end */
/* Padding */
.padding-xl {
  padding: 30px;
}

.padding-lg {
  padding: 20px;
}

.padding-md {
  padding: 10px;
}

.padding-sm {
  padding: 5px;
}

.hz-padding-0 {
  padding-left: 0;
  padding-right: 0;
}

.padding-top-md {
  padding-top: 10px;
}

.padding-bottom-md {
  padding-top: 10px;
}
/* Padding */

/* Bold */
.heading-md {
  font-weight: 700;
  font-size: 1.6rem;
}

.heading-sm {
  font-weight: 600;
}

/* End of bold */

.margin-sm {
  margin: 5px;
}
.margin-md {
  margin: 10px;
}

.margin-lg {
  margin: 20px;
}

.margin-bottom-sm {
  margin-bottom: 5px;
}

.margin-bottom-md {
  margin-bottom: 10px;
}

.margin-bottom-lg {
  margin-bottom: 20px;
}

.margin-top-sm {
  margin-top: 5px;
}

.margin-top-md {
  margin-top: 10px;
}
.margin-top-lg {
  margin-top: 20px;
}

/* Buttons */

button,
a {
  padding: 8px;
  background-color: inherit;
  border: none;
  color: var(--primary-color);
  border-radius: 0.3rem;
  width: max-content;
  transition: 1s;
  font-weight: 600;
  text-decoration: none;
}

button:hover,
a:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.primary-button {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.secondary-button {
  background-color: var(--light-bg-color);
  color: var(--text-color);
  border: 2px solid var(--bg-color);
}

.ghost-button {
  color: var(--text-color);
  border: none;
  background-color: var(--bg-color);
}

.disabled {
  opacity: 0.5;
}

.disabled:hover {
  cursor: not-allowed;
}
/* End of buttons */

/* SVGs */
svg {
  padding: 10px;
  fill: inherit;
  color: var(--text-color);
  transition: 1s;
}

svg:not(.recharts-surface):hover {
  fill: var(--primary-color);
  transform: scale(1.1);
  cursor: pointer;
}

.active-link {
  fill: var(--primary-color);
  color: var(--primary-color);
}

.inactive-link {
  fill: inherit;
  color: inherit;
}

/* End of SVGS */

.border {
  border: 1px solid red;
}

.no-border {
  border: none;
}

.bg-border {
  border: 3px solid var(--bg-color);
  border-radius: 0.5rem;
}

.border-bottom-secondary {
  border-bottom: 3px solid var(--light-bg-color);
}

.border-bottom-primary {
  border-bottom: 3px solid var(--bg-color);
}

.b-radius{
  border-radius: .3rem;
}

/* End of global css */

.box {
  padding: 10px;
  border-radius: 2rem;
}

/* Font styling */
p{
  font-size: 14px;
}

.text-align{
  text-align: center;
}

.primary {
  color: var(--primary-color);
  fill: var(--primary-color);
}

.body-color {
  color: var(--text-color);
  fill: var(--text-color);
}

.bg-color {
  color: var(--bg-color);
}

.light-bg-color {
  color: var(--light-bg-color);
}

.secondary {
  color: var(--secondary-color);
}

.sub-text {
  font-size: small;
  opacity: 0.9;
}

/* End of font styling */

section {
  background-color: var(--light-bg-color);
}

select {
  background-color: var(--light-bg-color);
  color: inherit;
}

input[type="date"] {
  border: none;
  letter-spacing: 1.6px;
  fill: inherit;
  font-weight: 700;
  padding: 4px;
  border-radius: 0.3rem;
}

input[type="text"],
input[type="email"],
input[type="password"]
{
  outline: none;
  border: 3px solid var(--light-bg-color);
  padding: 8px;
  border-radius: 0.3rem;
}

input[type="number"]
{
  outline: none;
  border: 3px solid var(--light-bg-color);
  padding: 4px;
  border-radius: 0.3rem;
  min-width: 50px;
}

.primary-border {
  border: 1px solid var(--primary-color);
}

.secondary-border {
  border: 3px solid var(--light-bg-color);
}

.dark-border {
  border: 3px solid var(--bg-color);
}

/* background */
.bg {
  background-color: var(--bg-color);
}

.secondary-bg {
  background-color: var(--light-bg-color);
  border-radius: 0.5rem;
}

/* Rotation css */

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180:hover {
  transform: rotate(180deg) scale(1.1);
  fill: var(--primary-color);
}
/* End of rotation css */

/* Specific css */
.active {
  transition: 1s;
  color: var(--primary-color);
}

.inactive {
  transition: 1s;
  opacity: 0.9;
}

.inactive:hover {
  color: var(--primary-color);
  cursor: pointer;
  opacity: 1;
}

/* Toggle Switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text-color);
  -webkit-transition: 0.4s;
  transition: 1s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: var(--bg-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
/* End of Toggle Switch */

/* Page class */
.page {
  height: 100%;
  flex: 1;
}
/* End of page class */

/* modal */
.modal {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w*/
  padding: 20px;
}

.modal-content {
  background-color: var(--light-bg-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 95%;
  height: 95%;
  border-radius: 0.3rem;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
}

.modal-cancel {
  position: absolute;
  z-index: 3;
  top: 20px;
  right: 30px;
}

/* Nav modal */
nav .modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-weight: 700;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: var(--bg-color); /* Black w*/
}

nav .modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: first baseline;
  max-height: 1000px;
  padding: 20px;
}

nav .modal svg {
  padding: 0;
}

nav .modal-content * {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 25px;
}

/* End of nav modal */
/* end of modal */

/* small modal/popup */
.popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-bg-color);
  border: 3px solid var(--text-color);
  z-index: 3;
  right: 20px;
  border-radius: 0.2rem;
}

.popup span {
  border: 1px solid var(--text-color);
  width: 100%;
  display: flex;
  text-align: center;
}

.popup span:hover {
  color: var(--primary-color);
  cursor: pointer;
}
/* end of small modal/popup */

/* Scroll to top element */
.scroll-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
/* End of scroll to top element */
.card {
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exercise-card {
  width: 150px;
  border-radius: 10px;
  transition: 0.5s;
  border: 2px solid var(--bg-color);
}

.exercise-card:hover {
  transform: scale(1.1);
  cursor: pointer;
  border: 1px solid var(--text-color);
}

.custom-tooltip {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  gap: 10px;
  border: 1px solid var(--text-color);
}

@media screen and (min-width: 550px) {
  .desktop {
    display: flex;
  }
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .desktop {
    display: flex;
    display: none;
  }
  .mobile {
    display: flex;
  }
  body {
    font-size: 1rem;
  }
  .card {
    width: 100%;
  }
}
