* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  font-size: 1.2rem;
  letter-spacing: 0.8px;
}

/* Dark Mode */
.dark-mode {
  --bg-color: #1e232d;
  --light-bg-color: #293649;
  --primary-color: #ff003c;
  --secondary-color: #f2d272;
  --text-color: #fdfefe;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-width: 100vh;
  min-height: 100vh;
}

/* Light Mode */
.light-mode {
  --bg-color: #fff;
  --light-bg-color: #f1f5f8;
  --primary-color: #fe2d55;
  --secondary-color: #1e232d;
  --text-color: #293649;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-width: 100vw;
  min-height: 100vh;
}

/* Global css */
/* height/Width */
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.width-xs {
  width: 40px;
}
.width-sm {
  width: 75px;
}
.width-md {
  width: 500px;
}
.width-lg {
  width: 800px;
}

.height-xs {
  height: 40px;
}
.height-sm {
  height: 75px;
}
.height-md {
  height: 500px;
}
.height-lg {
  height: 800px;
}
/* End of Height/Width */
/* flex */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.gap-sm {
  gap: 5px;
}

.wrap {
  flex-wrap: wrap;
}

.gap-md {
  gap: 10px;
}

.gap-lg {
  gap: 20px;
}
.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}
/* flex end */
/* Padding */
.padding-xl {
  padding: 30px;
}

.padding-lg {
  padding: 20px;
}

.padding-md {
  padding: 10px;
}

.padding-sm {
  padding: 5px;
}

.hz-padding-0 {
  padding-left: 0;
  padding-right: 0;
}

/* Padding */

/* Bold */
.heading-md {
  font-weight: 700;
}

.heading-sm {
  font-weight: 600;
}

/* End of bold */

.margin-sm {
  margin: 5px;
}
.margin-md {
  margin: 10px;
}

.margin-lg {
  margin: 20px;
}

.margin-bottom-sm {
  margin-bottom: 5px;
}

.margin-bottom-md {
  margin-bottom: 10px;
}

.margin-bottom-lg {
  margin-bottom: 20px;
}

.margin-top-sm {
  margin-top: 5px;
}

.margin-top-md {
  margin-top: 10px;
}
.margin-top-lg {
  margin-top: 20px;
}

button {
  padding: 5px;
  border-radius: 0.3rem;
  width: max-content;
}
/* SVGs */
svg {
  padding: 10px;
  fill: inherit;
  color: var(--text-color);
  transition: 1s;
}

svg:not(.recharts-surface):hover {
  fill: var(--primary-color);
  transform: scale(1.1);
  cursor: pointer;
}

.active-link{
  fill: var(--primary-color);
  color: var(--primary-color);
}

.inactive-link{
  fill: inherit;
  color: inherit;
}

/* End of SVGS */

.border {
  border: 1px solid red;
}

.no-border {
  border: none;
}

.border-bottom-secondary{
  border-bottom: 3px solid var(--light-bg-color)
}

/* End of global css */

.box {
  padding: 10px;
  border-radius: 2rem;
}

.primary {
  color: var(--primary-color);
  fill: var(--primary-color);
}

.body-color{
  color: var(--text-color);
  fill: var(--text-color);
}

.bg-color {
  color: var(--bg-color);
}

.light-bg-color {
  color: var(--light-bg-color);
}

.secondary {
  color: var(--secondary-color);
}

button {
  background-color: inherit;
  border: 1px solid var(--primary-color);
  color: inherit;
  padding: 3px;
  transition: 1s;
}

.secondary-button {
  border: none;
  background-color: var(--light-bg-color);
  color: var(--secondary-color);
}

button:hover {
  background-color: var(--primary-color);
  transform: scale(1.1);
  color: inherit;
}

section {
  background-color: var(--light-bg-color);
}

select {
  background-color: var(--light-bg-color);
  color: inherit;
}

input[type="date"] {
  border: none;
  letter-spacing: 1.6px;
  fill: inherit;
  font-weight: 700;
  padding: 2px;
  border-radius: .2rem;
}

.primary-border {
  border: 1px solid var(--primary-color);
}

.secondary-border {
  border: 3px solid var(--light-bg-color);
}

.dark-border{
  border: 3px solid var(--bg-color);
}

/* background */
.bg {
  background-color: var(--bg-color);
}

.secondary-bg{
  background-color: var(--light-bg-color);
}

/* Rotation css */

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180:hover {
  transform: rotate(180deg) scale(1.1);
  fill: var(--primary-color);
}
/* End of rotation css */



/* Specific css */
.active{
  transition: 1s;
  color: var(--primary-color);
}

.inactive{
  transition: 1s;
  opacity:.9
}

.inactive:hover{
  color: var(--primary-color);
  cursor: pointer;
  opacity: 1;
}

/* Toggle Switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text-color);
  -webkit-transition: 0.4s;
  transition: 1s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: var(--bg-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
/* End of Toggle Switch */